<app-app-navigation></app-app-navigation>

<div class="bg-gray-100 min-h-screen p-8">
  <!-- Logo -->
  <div class="background-image">
    <img src="sin_fondo.png" alt="Logo" >
    <h1 class="text-2xl font-bold mt-4">Home Tasks Dashboard</h1>
  </div>

  <!-- Últimas tareas -->
  <section class="mb-8">
    <h2 class="text-xl font-semibold mb-4">Últimas Tareas</h2>
    <ul *ngIf="latestActivities.length; else noActivities">
      <li *ngFor="let activity of latestActivities" class="bg-white p-4 shadow rounded mb-2">
        <h3 class="font-semibold">{{ activity.title }}</h3>
        <p class="text-sm text-gray-500">Hora: {{ activity.time }}</p>
      </li>
    </ul>
    <ng-template #noActivities>
      <p class="text-gray-500">No hay tareas registradas para hoy.</p>
    </ng-template>
  </section>

  <!-- Últimas comidas -->
  <section class="mb-8">
    <h2 class="text-xl font-semibold mb-4">Últimas Comidas</h2>
    <ul *ngIf="latestMeals.length; else noMeals">
      <li *ngFor="let meal of latestMeals" class="bg-white p-4 shadow rounded mb-2">
        <h3 class="font-semibold">{{ meal.meal_type }}</h3>
        <p class="text-sm text-gray-500">Categoría: {{ meal.description }}</p>
      </li>
    </ul>
    <ng-template #noMeals>
      <p class="text-gray-500">No hay comidas registradas para hoy.</p>
    </ng-template>
  </section>

  <!-- Lista de compras -->
  <section>
    <h2 class="text-xl font-semibold mb-4">Lista de Compras</h2>
    <ul *ngIf="shoppingList.length; else noItems">
      <li *ngFor="let item of shoppingList" class="bg-white p-4 shadow rounded mb-2">
        <h3 class="font-semibold">{{ item.name }}</h3>
        <p class="text-sm text-gray-500">
          Cantidad: {{ item.quantity }} {{ item.unit }}
        </p>
      </li>
    </ul>
    <ng-template #noItems>
      <p class="text-gray-500">No hay elementos en la lista de compras.</p>
    </ng-template>
  </section>
</div>

