<app-app-navigation></app-app-navigation>
<div class="saltos">
  <br><br><br><br><br><br><br><br><br><br>
</div>
<div class="meals-container">
  <h1>Planificador de actividades</h1>
  <div class="days-selector">
    <button
      *ngFor="let day of weekDays"
      (click)="selectDay(day)"
      [class.active]="selectedDay === day"
    >
      {{ day }}
    </button>
  </div>

  <div class="activities-section">
    <h3>Actividades</h3>
    <form [formGroup]="activityForm" (ngSubmit)="addActivity()">
      <input formControlName="title" placeholder="Título de la Actividad" />
      <input type="time" formControlName="time" />
      <textarea formControlName="description" placeholder="Descripción de la actividad"></textarea>
      <button type="submit" [disabled]="!activityForm.valid">Agregar Actividad</button>
    </form>

    <div class="meals-list">
      <div *ngFor="let acitvity of activities" class="meal-item">
        <div *ngIf="editingActivity?.id !== acitvity.id" class="meal-display">
          <div class="meal-info">
            <strong>{{ acitvity.title| titlecase }}<p>{{ acitvity.time }}</p></strong>
            <p>{{ acitvity.description }}</p>
          </div>
          <div class="meal-actions">
            <button (click)="startEditing(acitvity)" class="edit-btn">
              <fa-icon [icon]="faEdit"></fa-icon>
            </button>
            <button (click)="deleteActivity(acitvity.id!)" class="delete-btn">
              <fa-icon [icon]="faTrash"></fa-icon>
            </button>
          </div>
        </div>

        <form *ngIf="editingActivity?.id === acitvity.id" [formGroup]="activityForm" (ngSubmit)="updateActivity()" class="edit-form">

          <div class="form-actions">
            <button type="submit" [disabled]="!activityForm.valid" (click)="updateActivity()">Guardar</button>
            <button type="button" (click)="cancelEditing()">Cancelar</button>
          </div>
        </form>
      </div>
    </div>
  </div>



</div>
