<nav class="app-navigation">
  <div class="nav-desktop">
    <div class="logo">
      <img src="sin_fondo.png" alt="Family Planner Logo">
      <h1>Family Planner</h1>
    </div>
    <ul class="nav-links">
      <li>
        <a routerLink="/tasks" routerLinkActive="active">
          <i class="icon-tasks"></i>
          Tareas
        </a>
      </li>
      <li>
        <a routerLink="/weekly-planner" routerLinkActive="active">
          <i class="icon-calendar"></i>
          Planificador Semanal
        </a>
      </li>
      <li>
        <a routerLink="/meals" routerLinkActive="active">
          <i class="icon-meals"></i>
          Comidas
        </a>
      </li>
      <li>
        <a routerLink="/activities" routerLinkActive="active">
          <i class="icon-family"></i>
          Actividades
        </a>
      </li>
    </ul>
  </div>

<!-- VERSION MOVIL -->
  <div class="nav-mobile">
    <a routerLink="/tasks" routerLinkActive="active">
      <i class="icon-tasks"></i>
      <span>Tareas</span>
    </a>
    <a routerLink="/weekly-planner" routerLinkActive="active">
      <i class="icon-calendar"></i>
      <span>Planificador</span>
    </a>
    <a routerLink="/meals" routerLinkActive="active">
      <i class="icon-meals"></i>
      <span>Comidas</span>
    </a>
    <a routerLink="/activities" routerLinkActive="active">
      <i class="icon-family"></i>
      <span>Actividades</span>
    </a>
  </div>
</nav>
